<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <style>
    /* Estilos generales */
    body {
      font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #fff;
      background-color: #222;
    }

    /* Estilos de la tabla */
    .table {
      width: 100%;
      border-collapse: collapse;
      color: #fff;
    }

    .table th,
    .table td {
      padding: 10px;
      border: 1px solid #ddd;
    }

    .table th {
      background-color: #333;
      font-weight: bold;
    }

    .table td {
      background-color: #444;
    }

    /* Estilos del contenedor */
    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }

    /* Estilos del encabezado */
    .header {
      text-align: center;
      margin-bottom: 20px;
    }

    .header h2 {
      font-size: 24px;
    }

    /* Estilos para los botones */
    .btn {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
    }

    .btn-secondary {
      background-color: #6c757d;
    }
  </style>
</head>

<div class="container">
  <div class="header">
    <h2>Products</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover text-center">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each productsList}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.description}}</td>
          <td>${{this.price}}</td>
          <td>{{this.stock}} u</td>
          <td>
            <!-- Ajustamos el formulario para enviar el ID del carrito -->
            <form
              onsubmit="addToCart(event, '{{_id}}')"
              method="POST"
              action="/carts/{{cartId}}/products/{{_id}}/add"
            >
              <button type="submit">Add to Cart</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


</html>
